/apps/[!boundaries]
/apps/boundaries/__pycache__
/apps/krita
/apps/onlyoffice
/apps/bnd-repo
/apps/neofetch
/apps/nerdfetch
/apps/pycharm-ce
/apps/steam
/apps/prism-launcher
/apps/intellij-ce
/apps/code
/apps/anydesk
/apps/discord
/apps/bnd-gui
/apps/golang
/apps/nogamename
/apps/iwant
/exec
/sandbox
/.idea
/var
/bin
/plugins
